<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hefeibus.www.hefeibus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/bus_icon"
        android:label="@string/app_label"
        android:theme="@style/AppTheme"

        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vRpWq8HUG1rysR0dueIAbNymRpeUFEdz" />

        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.mian_framework.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".view.line_detail.LineDetailActivity" />
        <activity android:name=".view.station_detail.StationDetailActivity" />
        <activity android:name=".view.auto_search.AutoSearchActivity" />
        <activity android:name=".view.select_station.SelectStationActivity" />
    </application>
</manifest>
